// .row{
//     margin-bottom: 20px;
// }
// .card-header{
//     background-color: rgb(159, 159, 255);
// }

.btn {
    width: 100px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.btn-div {
    margin-top: 50px;
    float: right;
    margin-right: 30px;
}

.container {
    display: flex;
    align-items: center;
}