<!-- menambahkan button add data -->
<c-col xs="12">
    <div class="mb-4" style="text-align: right; margin: 15px 15px 0px 15px">
        <button pButton pRipple type="button" label="Add User" icon="pi pi-plus" class="p-button-warning"
            (click)="showAdd()"></button>
    </div>

    <!-- button confirm ketika delete data -->
    <p-confirmDialog #cd [style]="{ width: '50vw' }">
        <ng-template pTemplate="footer">
            <button *ngIf="isDelete || isEdit" pButton pRipple type="button" icon="pi pi-times" label="No" class="p-button-text"
                (click)="cd.reject()"></button>
            <p-button *ngIf="isDelete || isEdit" type="button" icon="pi pi-check" label="Yes" styleClass="p-button-primary"
                (click)="cd.accept()"></p-button>
            <p-button *ngIf="isAdd" type="button" icon="pi pi-check" label="Ok" styleClass="p-button-primary"
                (click)="cd.accept()"></p-button>
        </ng-template>
    </p-confirmDialog>

    <!-- show tabel -->
    <c-card class="mb-4">
        <c-card-header>
            <strong>User List <span>({{users.length}} data)</span>
            </strong>
        </c-card-header>

        <!-- section u show data tabel -->
        <c-card-body>
            <p-table #dt [value]="users" dataKey="id" [paginator]="true" [rows]="5"
                [rowsPerPageOptions]="[5, 10, 15, 20]" [globalFilterFields]="['nama', 'userId','username', 'alamat']" [loading]="loading"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" [(ngModel)]="searchQuery"
                                (input)="dt.filterGlobal($any($event.target)?.value, 'contains')" placeholder="Search">
                        </span>
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                            (click)="clear(dt)"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Username</th>
                        <th style="min-width:12rem">Nama</th>
                        <th>Alamat</th>
                        <th>Email</th>
                        <th>Telp</th>
                        <th>Program Name</th>
                        <th pSortableColumn="createdDate">Created Date<p-sortIcon
                            field="createdDate"></p-sortIcon></th>
                        <th style="min-width:10rem">
                            Created By
                            <p-columnFilter field="createdBy" display="menu" matchMode="in" [showMatchModes]="false"
                                [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="header">
                                    <div class="px-3 pt-3 pb-0">
                                        <span class="font-bold">Users</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="users" placeholder="Any"
                                        (onChange)="filter($event.value)" optionValue="username" optionLabel="username">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-representative-option">
                                                <span class="ml-1">{{option.username}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th pSortableColumn="updatedDate">Updated Date<p-sortIcon
                            field="updatedDate"></p-sortIcon></th>
                        <th style="min-width:11rem">
                            Updated By
                            <p-columnFilter field="updatedBy" display="menu" matchMode="in" [showMatchModes]="false"
                                [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="header">
                                    <div class="px-3 pt-3 pb-0">
                                        <span class="font-bold">Users</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="users" placeholder="Any"
                                        (onChange)="filter($event.value)" optionValue="username" optionLabel="username">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-representative-option">
                                                <span class="ml-1">{{option.username}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th style="min-width:9rem">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{user.username}}</td>
                        <td>{{user.nama}}</td>
                        <td>{{user.alamat}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.telp}}</td>
                        <td>{{user.programName}}</td>
                        <td>{{user.createdDate | date: 'dd/MM/y'}}</td>
                        <td>{{user.createdBy}}</td>
                        <td>{{user.updatedDate | date: 'dd/MM/y'}}</td>
                        <td>{{user.updatedBy}}</td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-pencil" tooltipPosition="top"
                                class="p-button-rounded p-button-info p-button-text" pTooltip="Edit"
                                (click)="showEdit(user)"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                class="p-button-rounded p-button-danger p-button-text" pTooltip="Delete"
                                tooltipPosition="top" (click)="showDelete(user)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No data found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </c-card-body>
    </c-card>
</c-col>

<!-- section untuk show data tabel pada saat add dan edit   -->
<p-dialog header="User From" [(visible)]="userform" [responsive]="true" showEffect="fade" [modal]="true"
    [closable]="true" [dismissableMask]="true">
    <div>
        <hr />
        <div *ngIf="isEdit">
            <p style="text-align: center;"><b>{{keteranganForm}}</b>
            </p>
            <hr />
        </div>
        <div class="p-grid p-fluid">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="row container">
                        <div class="col-md-5">
                            <label><b>Username</b></label>
                        </div>
                        <div class="col-md-1"><b>:</b></div>
                        <div class="col-md-6">
                            <input type="text" formControlName="username" pInputText [(ngModel)]="valUsername"
                                [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                <div *ngIf="f['username'].errors['required']">
                                    Username is required
                                </div>
                                <div *ngIf="f['username'].errors['minlength']">Username
                                    min {{f["username"].errors["minlength"]["requiredLength"]}} character</div>
                                <div *ngIf="f['username'].errors['maxlength']">Username
                                    max {{f["username"].errors["maxlength"]["requiredLength"]}} character</div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row container">
                        <div class="col-md-5">
                            <label><b>Nama</b></label>
                        </div>
                        <div class="col-md-1"><b>:</b></div>
                        <div class="col-md-6">
                            <input type="text" formControlName="nama" pInputText [(ngModel)]="valNama"
                                [ngClass]="{ 'is-invalid': submitted && f['nama'].errors }" />
                            <div *ngIf="submitted && f['nama'].errors" class="invalid-feedback">
                                <div *ngIf="f['nama'].errors['required']">
                                    Nama is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row container">
                        <div class="col-md-5">
                            <label><b>Alamat</b></label>
                        </div>
                        <div class="col-md-1"><b>:</b></div>
                        <div class="col-md-6">
                            <input type="text" formControlName="alamat" pInputText [(ngModel)]="valAlamat"
                                [ngClass]="{ 'is-invalid': submitted && f['alamat'].errors }" />
                        </div>
                    </div>
                    <br />
                    <div class="row container">
                        <div class="col-md-5">
                            <label><b>Email</b></label>
                        </div>
                        <div class="col-md-1"><b>:</b></div>
                        <div class="col-md-6">
                            <input type="text" formControlName="email" pInputText [(ngModel)]="valEmail"
                                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">
                                    Email is required
                                </div>
                                <div *ngIf="f['email'].errors['email']">Wrong email format</div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row container">
                        <div class="col-md-5">
                            <label><b>Telp</b></label>
                        </div>
                        <div class="col-md-1"><b>:</b></div>
                        <div class="col-md-6">
                            <p-inputNumber formControlName="telp" [(ngModel)]="valTelp" mode="decimal"
                                inputId="withoutgrouping" [useGrouping]="false"
                                [ngClass]="{ 'is-invalid': submitted && f['telp'].errors }">
                            </p-inputNumber>
                            <div *ngIf="submitted && f['telp'].errors" class="invalid-feedback">
                                <div *ngIf="f['telp'].errors['required']">Telp is required</div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row container">
                        <div class="col-md-5">
                            <label><b>Program Name</b></label>
                        </div>
                        <div class="col-md-1"><b>:</b></div>
                        <div class="col-md-6">
                            <input type="text" formControlName="programName" pInputText [(ngModel)]="valProgramName"
                                [ngClass]="{'is-invalid': submitted && f['programName'].errors}" />
                        </div>
                    </div>
                    <div *ngIf="isEdit || isAdd" class="form-group btn-div">
                        <button *ngIf="isAdd" pButton type="button" label="Reset" class="p-button-text btn btn-sm"
                            (click)="onReset()"></button>&nbsp;
                        <button *ngIf="isAdd" pButton type="button" label="Submit" class="p-button-primary btn btn-sm"
                            (click)="onSubmit()"></button>
                        <button *ngIf="isEdit" pButton type="button" label="Submit" class="p-button-primary btn btn-sm"
                            (click)="getConfirmEdit()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-dialog>

<!-- tampilkan pesan toast  -->
<p-toast position="top-center"></p-toast>