<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <strong>History Transaksi Nasabah <span>({{ historyTransaksi?.length}} data)</span></strong>
        </c-card-header>

        <!-- tampilan data tabel -->
        <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview table-responsive" role="tabpanel" id="preview-24">
                <p-table [value]="historyTransaksi" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Id History Bank</th>
                            <th>Nomor Rekening</th>
                            <th>Nama Nasabah</th>
                            <th pSortableColumn="tanggal">Tanggal <p-sortIcon field="tanggal"></p-sortIcon></th>
                            <th>Nominal</th>
                            <th>Keterangan*
                                <p-columnFilter type="text" field="statusKet" display="menu"></p-columnFilter>
                            </th>
                            <th>Nomor Rekening Tujuan</th>
                            <th>Nomor Telepon</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-historyTransaksi>
                        <tr>
                            <td>{{historyTransaksi.idHistoryBank}}</td>
                            <td>{{historyTransaksi.norek}}</td>
                            <td>{{historyTransaksi.nama}}</td>
                            <td>{{historyTransaksi.tanggal}}</td>
                            <td>{{historyTransaksi.uang | currency:'IDR ':'symbol':'3.2-2'}}</td>
                            <td *ngIf="historyTransaksi.statusKet==1">{{historyTransaksi.statusKet}} (Setor)</td>
                            <td *ngIf="historyTransaksi.statusKet==2">{{historyTransaksi.statusKet}} (Tarik)</td>
                            <td *ngIf="historyTransaksi.statusKet==3">{{historyTransaksi.statusKet}} (Transfer)</td>
                            <td *ngIf="historyTransaksi.statusKet==4">{{historyTransaksi.statusKet}} (Bayar Telepon)
                            </td>
                            <td>{{historyTransaksi.noRekTujuan}}</td>
                            <td>{{historyTransaksi.noTlp}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <c-card-body>