<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <strong>Country List <span>({{ regions?.length}} data)</span></strong>
        </c-card-header>
        <br><button class="btn btn-light" style="margin-left:10px;" (click)="add()">Tambah</button>
        <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview table-responsive" role="tabpanel" id="preview-24">
                <p-table [value]="regions" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of cols">
                                {{col.header}}
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-region>
                        <tr>
                            <td *ngFor="let col of cols">
                                {{region[col.field]}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm"
                                    (click)="edit(region.regionId)"><i class="pi pi-pencil"></i></button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="edit(region.regionId)"><i
                                        class="pi pi-trash"></i></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <c-card-body>