.btn-div{
    margin-top: 50px;
    float: right;
    margin-right: 30px;
}

// .row{
//     margin-bottom: 20px;
// }
.btn{
    width: 100px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.container{
    display: flex;
align-items: center;
}