
<p-dialog header="Title" [(visible)]="display" [style]="{width: '50vw'}"
        [modal]="true" [maximizable]="true" [baseZIndex]="10000" [draggable]="false">
          <div class="container" >
            <div class="row" align-self-center>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <!-- <div class="form-group">
                        <label for="departmentId">Department ID</label>
                        <input type="text" class="form-control" formControlName="departmentId" placeholder="Department ID"
                        [ngClass]="{'is-invalid': submitted && f['departmentId'].errors}"/>
                        <div *ngIf="submitted && f['departmentId'].errors" class="invalid-feedback">
                            <div *ngIf="f['departmentId'].errors['required']">Department ID is required.</div>
                            <div *ngIf="f['departmentId'].errors['departmentId']">Department ID is invalid.</div>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="departmentName">Department Name</label>
                        <input type="text" class="form-control" formControlName="departmentName" placeholder="Department Name"
                        [ngClass]="{'is-invalid': submitted && f['departmentName'].errors}"/>
                        <div *ngIf="submitted && f['departmentName'].errors" class="invalid-feedback">
                            <div *ngIf="f['departmentName'].errors['required']">Department Name is required.</div>
                            <div *ngIf="f['departmentName'].errors['departmentName']">Department Name is invalid.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="managerId">Manager ID</label>
                        <select class="form-select" formControlName="managerId"
                        [ngClass]="{ 'is-invalid': submitted && f['managerId'].errors}">
                            <option value="">(choose)</option>
                            <option *ngFor="let manager of departmentList" value="{{manager.managerId}}">{{manager.managerId}}</option>
                        </select>
                        <div *ngIf="submitted && f['managerId'].errors" class="invalid-feedback">
                            <div *ngIf="f['managerId'].errors['required']">Manager ID is required.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="locationId">Location ID</label>
                        <select class="form-select" formControlName="locationId"
                        [ngClass]="{ 'is-invalid': submitted && f['locationId'].errors}">
                            <option value="">(choose)</option>
                            <option *ngFor="let location of locationList" value="{{location.locationId}}">{{location.locationId}}</option>
                        </select>
                        <div *ngIf="submitted && f['locationId'].errors" class="invalid-feedback">
                            <div *ngIf="f['locationId'].errors['required']">Location ID is required.</div>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary" (click)="onSave()">Submit</button> &nbsp;
                        <button type="button" (click)="onReset()" class="btn btn-warning float-right">Reset</button> &nbsp;
                    </div> 
                </form>
            </div>
          </div>
          <!-- <p-footer>
          <button type="button" pButton autofocus (click)="display=false" label="Cancel"></button>
          <button type="button" pButton autofocus label="Submit"></button>
          </p-footer> -->
      </p-dialog>
      <!-- <button type="button" pButton autofocus (click)="showDialog()" icon="pi pi-plus" label="Add"></button> -->
<!-- <button class="btn btn-primary" style="margin-left: 23px;" (click)="back()">Simpan</button>

<button class="btn btn-success" style="margin-left: 15px;" (click)="back()">Kembali</button> -->
