.bg-sign-up{
    background-image: url(../../../../assets/images/bg-right-login2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px;
}

.btn-login{
    float: right;
}
.logo{
    margin-top: -8px;
}

.bg-login{
    background-image: url(../../../../Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.xyz{
    color: #FFBB57;
}

// .bg-sign-up-left{
    // background-color: #FFBB57;
// }