.btn-login {
  background: #063a41;
  border-color: #063a41;
  color: white;
}

.bg-signup {
  background: #063a41;
}

.btn-regist {
  background: #f8bf88;
  border-color: #f8bf88;
  color: #063a41;
//   background: #f39a84;
}
