<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <strong>History Setor <span>({{ setorHistory?.length}} data)</span></strong>
        </c-card-header>

        <!-- tampilan data tabel -->
        <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview table-responsive" role="tabpanel" id="preview-24">
                <p>Jumlah transaksi setor hari ini : <b>{{setorHariIni}} transaksi</b></p>
                <hr>
                <p-table #dt [value]="setorHistory" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,15,20]"
                    [globalFilterFields]="['nama']">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <span class="p-input-icon-left p-ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" [(ngModel)]="searchQuery"
                                    (input)="dt.filterGlobal($any($event.target)?.value, 'contains')"
                                    placeholder="Search by Name">
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <!-- <th>Id History Bank</th> -->
                            <th class="text-center">Nomor Rekening</th>
                            <th class="text-center">Nama Nasabah</th>
                            <th class="text-center" pSortableColumn="tanggal">Tanggal
                                <p-sortIcon field="tanggal"></p-sortIcon></th>
                            <th class="text-center" pSortableColumn="uang">Nominal <p-sortIcon field="uang"></p-sortIcon></th>
                            <th class="text-center">Keterangan</th>
                            <!-- <th>Nomor Rekening Tujuan</th> -->
                            <!-- <th>Nomor Telepon</th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-historyTransaksi>
                        <tr>
                            <!-- <td>{{historyTransaksi.idHistoryBank}}</td> -->
                            <td class="text-center">{{historyTransaksi.norek}}</td>
                            <td class="text-center">{{historyTransaksi.nama}}</td>
                            <td class="text-center">{{historyTransaksi.tanggal | date: 'dd-MM-y h:mm a'}}</td>
                            <td class="text-center">{{historyTransaksi.uang | currency:'IDR ':'symbol':'3.2-2'}}</td>
                            <td class="text-center">{{historyTransaksi.statusKet}}. Setor Tunai</td>
                            <!-- <td>{{historyTransaksi.noRekTujuan}}</td> -->
                            <!-- <td>{{historyTransaksi.noTlp}}</td> -->
                        </tr>
                    </ng-template>
                </p-table>

            </div>

            <c-card-body>