:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.hero-group {
  margin-top: 20px;
}

.hero {
  color: white;
  font-family: 'Poppins';
  font-weight: 700;

}

.subhero {
  color: white;
}

.hero-body {
  background: rgba(255, 255, 255, 0);
}

.img-hero{
  width: 100%;
  height: auto;
}